
* {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    background-color: rgb(14, 94, 111);
    color: white;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid rgb(255, 239, 214);
}

header ul {
    text-align: center;
    padding-top: 63px;
    padding-left: 10px;
    margin-bottom: 0;
}

.button{
    display: inline-block;
    color: white;
    padding: 10px;
    align-items: center;
    background-color: rgb(58, 136, 145);
    margin-right: 10px;
    text-align: center;
}

.clickable-link {
    text-decoration: none;
    color: white;
}

.clickable-link:hover {
    transition-delay: 50ms;
    color: rgb(14, 94, 111);
}

.nav-pane {
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 0px;
}

.header-title { 
    flex-flow: 1;
    text-align: center;
}

.header-title h1 {
    margin-bottom: 3px;
}

.header-title h3 {
    font-style: italic;
}

body {
    background-color: rgb(255, 239, 214);
    background-attachment: fixed;
}

.welcome-message {
    text-shadow: 0 0 10px black;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 100px;
    margin-bottom: 100px;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: rgb(58, 136, 145, 0.7);
    border-radius: 20px;
}

.welcome-message ul li {
    margin-bottom: 5px;
}

footer {
    background-color: rgb(14, 94, 111);
    color: rgb(239, 239, 239);
    padding-top: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    text-align: center;
    font-style: italic;
    font-size: 14px;
}

.profile-header {
    padding-top: 30px;
    padding-left: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* REMOVE LATER */  
    border: 1px solid black;
    padding-bottom: 10px;
}

.profile-picture {
    border: 2px solid black;
    background-color: black;
    border-radius: 5px;
}

.meetings-tab {
    text-align: center;
    /* REMOVE LATER */  
    border: 1px solid black;
    padding-right: 60px;
    padding-left: 60px;
}